---
const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} pontaneuf. All rights reserved.</p>
</footer>
<style>
  footer {
    padding: 2em 1em;
    text-align: center;
    color: var(--gray);
    font-size: 0.9em;
    border-top: 1px solid var(--gray-light);
  }
</style>
