---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 1em;
    border-bottom: 1px solid var(--gray-light);
  }
  h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;
  }
  a {
    color: var(--black) !important;
    text-decoration: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 720px;
    margin: 0 auto;
  }
  .internal-links {
    display: flex;
    gap: 1em;
  }
  .internal-links a {
    padding: 0.5em;
  }
</style>
